/* Importar las fuentes Montserrat y Roboto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap');

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Roboto', sans-serif;
}

/* Contenedor del menú y logo */
#menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px; /* Ajusta el padding según sea necesario */
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* Contenedor para centrar el menú */
.menu-wrapper {
    display: flex;
}


/* Menú centrado */
nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; /* Cambia a flex-end para mover a la derecha */
    margin-right: 150px; /* Ajusta el margen derecho para separarlo del borde */
    flex-grow: 1; /* Permite que el menú ocupe el espacio restante */
}

.menu li a {
    text-decoration: none;
    color: #388E3C; /* Color 10 */
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.menu li a:hover {
    color: #2C6B2F; /* Color 10 hover */
    border-bottom: 2px solid #2C6B2F; /* Opción para un efecto hover con subrayado */
}
/* Dropdown principal */
.dropdown {
    position: relative; /* Asegura que el dropdown-content se posicione relativo a este contenedor */
}

/* Contenedor del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Justo debajo del elemento padre */
    left: 0; /* Alineado al lado izquierdo del padre */
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 10px;
    margin-top: 1px;
    min-width: 200px;
    border-radius: 4px; /* Opcional, redondea los bordes */
}

/* Opciones dentro del dropdown */
.dropdown-content li {
    padding: 5px 10px;
    list-style: none;
}

.dropdown-content li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #388E3C;
}

/* Mostrar el dropdown al hacer hover */
.dropdown:hover .dropdown-content {
    display: block; /* Mostrar el menú desplegable */
}

/* Flecha de plegar/desplegar */
#toggle-menu {
    position: fixed;
    right: 10px;
    top: 50px;
    cursor: pointer;
    z-index: 1000;
    transform: translateY(-50%) rotate(90deg);
    transition: transform 0.3s ease;
}

#toggle-menu svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

/* Cuando el menú esté colapsado, rotar la flecha hacia la izquierda */
#menu-container.collapsed + #toggle-menu {
    transform: translateY(-50%) rotate(-90deg);
}

.header-container {
    position: relative; /* Para superposición */
    width: 100%;
    height: 67vh; /* Ocupa toda la pantalla */
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Se asegura de cubrir todo el contenedor */
    object-fit: cover; /* La imagen se ajusta sin deformarse */
    z-index: -1; /* Envía la imagen al fondo */
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #1E3A5F; /* Cambia al color deseado */
}

.centered-text h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #1E3A5F; /* Cambia al color 10% */
}

.centered-text p {
    font-size: 1.2rem;
    color: #388E3C; /* Cambia al color 10 hover */
}

.responsive-logo {
    display: block; /* Asegura que el logo sea un bloque separado */
    margin: 0 auto; /* Centra el logo horizontalmente */
    width: 120px; /* Ajusta dinámicamente entre 80px y 150px */
    height: auto; /* Mantiene la proporción del logo */
    transition: all 0.3s ease; /* Suaviza los cambios */
    margin-top: 20px;
}

@media (max-width: 1000px) {
    /* Ajustes para el texto centrado */
    .centered-text h1 {
        font-size: 2rem; /* Reduce el tamaño del título */
    }

    .centered-text p {
        font-size: 1rem; /* Reduce el tamaño del subtítulo */
    }

    /* Ajuste del logo */
    .logo img {
        height: 60px; /* Reduce la altura del logo */
        width: auto; /* Mantén las proporciones del logo */
    }

    /* Ajuste del menú */
    .menu li a {
        font-size: 16px; /* Reduce el tamaño del texto en el menú */
        padding: 10px; /* Reduce el espaciado de los enlaces */
    }

    /* Espaciado general */
    #menu-container {
        padding: 15px 20px; /* Reduce el padding del contenedor del menú */
    }

    /* Reduce el espacio entre el logo y el texto */
    .centered-text {
        margin-top: 10px; /* Ajusta la separación superior del texto */
    }
}


/* Animación de ocultar el menú */
#menu-container.collapsed {
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

#menu-container {
    transition: transform 0.5s ease;
}

/* Ajuste del gradiente */
.video-container {
    position: relative;
}

.video-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px; /* Ajusta la altura para controlar hasta dónde llega el gradiente */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%
                                , rgba(0, 0, 0, 0.2) 10%
                                , rgba(0, 0, 0, 0.3) 20%
                                , rgba(0, 0, 0, 0.4) 30%
                                , rgba(0, 0, 0, 0.5) 50%
                                , rgba(0, 0, 0, 0.7) 80%
                                , rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
    z-index: 5; /* Asegura que quede encima del video */
}

/* Eliminar la línea blanca */
.image-gallery {
    margin-top: 0;
    padding-top: 0;
    border-top: none; /* Asegurarse de que no haya ningún borde */
}

/* Animaciones de entrada y salida */
.animate-in-up {
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.animate-in-up.active {
    opacity: 1;
    transform: translateY(0);
}

/* Clase de fondo opaco cuando el menú se despliega después del scroll */
.menu-background {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
}

/* Contenedor para las imágenes */
.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre las columnas de imágenes */
    align-items: flex-start; /* Alinea las imágenes por la parte superior */
    flex-wrap: wrap;
}

/* Estilo para todas las imágenes */
.image-gallery img {
    border-radius: 10px;
    object-fit: cover;
}

/* Estilos para las imágenes grandes */
.image-gallery img.large {
    width: 200px;
    height: 400px;
    margin-bottom: 50px; /* Da un margen para las imágenes grandes */
}

/* Estilos para las imágenes pequeñas */
.image-gallery img.small {
    width: 200px;
    height: 250px;
    align-self: center; /* Centra verticalmente las imágenes pequeñas */
}

/* Estilos para la sección de valores con fondo azul */
.values-section {
    background-color: #f5f5f5; /* Azul similar al del video */
    padding: 50px 0;
    text-align: center;
    color: white; /* Cambia el texto a blanco para mejor contraste */
}

.values-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente las cajas */
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las cajas */
}

.value-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 200px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: none;
    text-align: center;
    min-height: 350px; /* Ajusta según sea necesario para igualar la altura de las tarjetas */
}

.value-item:hover {
    transform: translateY(-5px); /* Se levanta un poco al hacer hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* La sombra aparece solo al hacer hover */
}

.value-icon {
    height: 80px;
    margin-bottom: 15px;
}

.value-item h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 15px 0;
    min-height: 60px; /* Ajuste de altura uniforme para los títulos */
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #555;
    margin: 0;
    min-height: 80px; /* Ajuste de altura uniforme para los párrafos */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilos del footer */
.footer {
    background-color: #111;
    color: #fff;
    padding: 40px 0;
}

/* Footer Top */
.footer-top {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.footer-column {
    flex: 1;
    text-align: center;
}

.footer-column h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
}

.footer-column ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Footer Middle */
.footer-middle {
    text-align: center;
    margin: 20px 0;
}

.footer-middle .footer-logo img {
    height: 60px;
    margin-bottom: 10px;
}

.footer-middle p {
    font-size: 18px;
    color: #ccc;
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 16px;
    color: #ccc;
}

/* General styles */
.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Asegura que las columnas tengan la misma altura */
    padding: 50px;
}

/* Section: Quiénes Somos */
.quienes-somos {
    background: #d1d4d6;
    padding: 50px 0;
}

.quienes-somos .texto {
    flex: 1;
    padding-right: 30px;
}

.quienes-somos .imagen {
    flex: 1;
    text-align: center; /* Centra la imagen horizontalmente */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
}

.quienes-somos .imagen img {
    max-width: 100%;
    border-radius: 10px;
}

.quienes-somos-text p {
    margin-bottom: 15px; /* Ajusta este valor según el espacio que desees */
}


/* Section: Qué Hacemos */
.que-hacemos {
    background: #f5f5f5;
    padding: 50px 0;
}

.que-hacemos .texto {
    flex: 1;
    padding-left: 30px;
}

.que-hacemos .imagen {
    flex: 1;
    text-align: center; /* Centra la imagen horizontalmente */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
}

.que-hacemos .imagen img {
    max-width: 100%;
    border-radius: 10px;
}

/* Section: Por Qué Nosotros */
.porque-nosotros {
    background-color: #d1d4d6;
    color: #000;
    padding: 50px 0;
    text-align: center;
}

.porque-nosotros h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center; /* Centra el título */
}

/* Estilos para las columnas de texto */
.porque-nosotros .container {
    display: flex;
    justify-content: center;
    gap: 40px; /* Espacio entre las columnas */
    flex-wrap: wrap; /* Permite ajuste en pantallas más pequeñas */
}

.porque-nosotros .columna {
    flex: 1;
    max-width: 45%; /* Ajusta el ancho de las columnas */
    text-align: left; /* Texto alineado a la izquierda dentro de la columna */
    display: flex;
    flex-direction: column; /* Para mantener el flujo de contenido en columna */
    justify-content: space-between; /* Para distribuir el contenido de manera uniforme en la columna */
}

.porque-nosotros p {
    font-size: 20px; /* Tamaño del texto */
    line-height: 1.8;
    color: #555; /* Color del texto */
}

/* Estilos de títulos para Quiénes Somos, Qué Hacemos, y Por Qué Nosotros */
.quienes-somos h2, 
.que-hacemos h2, 
.porque-nosotros h2 {
    font-size: 36px; /* Tamaño ajustado para títulos */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000; /* Color negro para títulos */
    margin-bottom: 25px; /* Ajusta este valor según el espacio deseado */
}

/* Estilos de los párrafos */
.quienes-somos p, 
.que-hacemos p, 
.porque-nosotros p {
    font-size: 20px; /* Tamaño aumentado para los párrafos */
    line-height: 1.8; /* Espaciado mayor entre líneas */
    color: #555; /* Color gris para párrafos */
}

/* Ajustar el contenedor de la imagen */
.image-container-small {
    width: 75%; /* Ajusta el ancho de las imágenes */
    height: auto;
    border-radius: 10px; /* Mantiene los bordes redondeados */
}

/* Sección de estadísticas */
.stats-container {
    display: flex;
    justify-content: center;
    gap: 50px; /* Espacio entre las columnas */
    margin-top: 50px; /* Añadir margen superior para separarlo del contenido anterior */
}

.stat-item {
    text-align: center;
}

.stat-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.stat-item h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
    color: #000;
}

.stat-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #555;
}

.equipo-cronus {
    text-align: center;
    padding: 50px 0;
    background-color: #d1d4d6;
}

.equipo-cronus h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.equipo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
}

.equipo-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /* Ocupa el 90% del espacio de la columna */
    margin: 0 auto; /* Centra el item en su columna */
}

.equipo-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
    object-fit: cover;
}

.equipo-item h3 {
    font-size: 36px;
    margin: 10px 0;
    color: #333;
}

.equipo-item p {
    font-size: 20px;
    color: #666;
}
